.currentBid {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 296px;
	border-radius: 16px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 25px;
	background-color: #23262f;
}

.currentBidP {
	text-align: center;
	font-size: 16px;
	line-height: 32px;
}

.priceETH {
	text-align: center;
}

.priceUSD {
	line-height: 32px;
	letter-spacing: 1.5px;
	font-weight: 600;
	text-align: center;
	color: #777e91;
	width: 100%;
}

.auctionEnds {
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.sectionTwo {
	width: 80%;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.time {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.number {
	font-size: 2rem;
	font-weight: 600;
	line-height: 10px;
}

.numberD {
	font-size: 1rem;
	font-weight: 600;
	color: #777e91;
}

@media (max-width: 750px) {
	.priceETH {
		font-size: 3rem;
	}
	.priceUSD {
		font-size: 1.5rem;
	}
}
