.likes {
	font-size: 12px;
	line-height: 12px;
	color: #b1b5c3;
}

.filterSearchFC {
	width: 100%;
	margin-top: 15px;
}

.filterSearchInput {
	height: 52px;
	border-radius: 15px !important;
	border: 2px solid #fcfcfd3a;
}

.filterSearchInput2 {
	font-size: 14px;
	line-height: 24px;
	margin-left: 8px;
}

.filterSearchInput2::placeholder {
	color: #ffffff !important;
	opacity: 1;
	-webkit-text-fill-color: #fcfcfd !important;
}
