.filtersChipsContainer {
	transition: all 250ms ease-in-out;
}

.filterSearchFC {
	width: 100%;
}

.filterSearchInput {
	min-height: 52px;
	border-radius: 15px !important;
	border: 2px solid #fcfcfd3a;
}

.filterSearchInput2 {
	font-size: 14px;
	line-height: 24px;
	margin-left: 8px;
}

.filterSearchInput2::placeholder {
	color: #ffffff !important;
	opacity: 1;
	-webkit-text-fill-color: #fcfcfd !important;
}

@media (min-width: 750px) {
	.filterSearchFC {
		min-width: 300px;
	}

	.filtersChipsContainer {
		align-self: center;
		width: 100%;
		padding: 0;
	}
	.containerChips {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
	}
}

@media (min-width: 990px) {
	.filtersChipsContainer {
		max-width: 70rem;
		padding: 0 0;
	}
}
